@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    font-family: 'Open Sans';
    font-weight: 700;
}

p {
    color: #000;
    text-align: justify;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1.8em !important;
}

body {
    font-family: 'Open Sans';
}

/* Navbar */
#nav {
    position: sticky;
    top: 0;
    z-index: 1001;
}

.navbar {
    background-image: linear-gradient(to right, #AD58B2, #C188C9);
}

.navbar-brand span {
    font-family: 'Montserrat';
    font-weight: 500;
    color: #fff;
}

.navbar-nav li a {
    color: #fff !important;
    font-family: 'Montserrat';
    font-weight: 500;
    text-transform: uppercase;
}

.breadcrumb-header {
    background-color: #F0F0F0 !important;
    padding-left: 25px;
    padding-top: 10px;
    height: 50px;
    font-size: 18px;
}

.breadcrumb li a {
    text-decoration: none;
    color: #FA8B9C;
}

.breadcrumb li a:hover {
    text-decoration: underline;
    color: #FA8B9C;
}

.breadcrumb li {
    color: #000 !important;
}

.accordion-button {
    font-family: 'Open Sans';
    font-weight: bold;
    text-decoration: none;
    color: #000;
    border: 1px solid #000 !important;
}

.accordion-body {
    border: 1px solid;
    border-color: #000;
}

.list-course-child {
    font-family: 'Open Sans';
    font-weight: 400;
    text-decoration: none;
    color: #3F3F46;
}

.list-course-child:hover {
    text-decoration: underline;
    color: #000;
}

.course-active {
    font-weight: 700;
}

.List ol li{
    line-height: 1.7em;
}

.course ol li,
ul li {
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1.7em !important;
}

.course ul li{
    list-style-type: disc;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
}

.card {
    border: 2px solid;
    border-color: #000 !important;
}

.card hr {
    height: 2px;
}

.card .info {
    background-color: #AE59B3;
}

.card .info p {
    color: #000;
}

span.src-text {
    display: block;
    font-size: 0.8em;
    font-style: italic;
    margin-top: 10px;
}

.input-course {
    display: inline !important;
    width: 130px;
    text-align: center;
    border-color: black;
}


#btnSatu_step-1, #btnSatu_step-2, #btnSatu_step-3,
#btnDua_step-1, #btnDua_step-2, #btnDua_step-3,
#btnTiga_step-1, #btnTiga_step-2, #btnTiga_step-3,
#btnEmpat_step-1, #btnEmpat_step-2, #btnEmpat_step-3,
#btnLima_step-1, #btnLima_step-2, #btnLima_step-3,
#btnEnam_step-1, #btnEnam_step-2, #btnEnam_step-3
{
    background-color: black;
}

#btnSatu_step-1:hover, #btnSatu_step-2:hover, #btnSatu_step-3:hover,
#btnDua_step-1:hover, #btnDua_step-2:hover, #btnDua_step-3:hover,
#btnTiga_step-1:hover, #btnTiga_step-2:hover, #btnTiga_step-3:hover,
#btnEmpat_step-1:hover, #btnEmpat_step-2:hover, #btnEmpat_step-3:hover,
#btnLima_step-1:hover, #btnLima_step-2:hover, #btnLima_step-3:hover,
#btnEnam_step-1:hover, #btnEnam_step-2:hover, #btnEnam_step-3:hover{
    background-color: #4d4d4d;
}

/* Latihan */
.tab-content {
    display: none;
}

.tab-content .active {
    display: block;
}

#next:hover{
    background-color: white;
    color: black;
}

#back:hover{
    background-color: white;
    color: black;
}

#next{
    background-color: black;
    color: white;
}

#back{
    background-color: black;
    color: white;
}

#next,
#back,
#retry,
.end {
    font-weight: bold;
    font-size: 1em;
    padding: 0.5em 0.9em;
    border-radius: 6px;
}

#retry:hover{
    background-color: white;
    color: black !important;
}

.responsive {
    display: none;
}

#nav{
    display: block;
}

#nav-bottom {
    display: none;
}

.iframe-center {
    margin: 0 auto;
}

/* Footer */
#footer {
    padding: 8px 0;
    background-image: linear-gradient(to right, #AD58B2, #C188C9);
}

#footer p {
    color: #f5f5f5 !important;
}

@media only screen and (max-width: 990px) {
    .list-course {
        display: none;
    }

    .breadcrumb-header {
        display: none;
    }

    .row .web {
        display: none;
    }

    .responsive {
        display: block;
    }

    #nav{
        display: none;
    }

    #nav-bottom {
        display: block;
    }

    span.src-text{
        margin-top: 0px;
    }
}